@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.form {
    z-index: 999;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    input {
        z-index: 999;
        width: 481px;
        height: 48.701px;
        border-radius: 6px;
        background: var(--grey-scale-background-grey, #1E1F2F);
        border: 0px solid #1E1F2F;
        flex-shrink: 0;
        color: white;
        padding-left: 10px;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-top: 5px;

        :focus {
            outline-color: #FFF;
        }
    }

    .input-error {
        border: 1px solid red;
    }

    .label-text {
        height: 18.506px;
        color: var(--grey-scale-white, #FFF);
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    @media screen and (max-width: 450px) {

        width: 80vw;

        input {
            width: 339px;
            height: 50px;
        }
    }
}

.input-label {
    width: 489px;
    height: 75px;
    display: flex;
    flex-direction: column;

    .label-text {
        margin-left: 10px;
    }

    @media screen and (max-width: 450px) {
        width: 339px;
        height: 77px;
        flex-shrink: 0;
    }
}

.button-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .label-button {
        height: 18.506px;
        color: var(--grey-scale-white, #FFF);
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;

        @media screen and (max-width: 450px) {
            display: none;
        }
    }
}

.back-login {
    display: flex;
    width: 339px;
    padding: 17px;
    border-radius: 30.5px;
    background: rgba(255, 255, 255, 0.10);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

    @media screen and (min-width: 450px) {
        display: none;
    }
}

.new-account {
    display: flex;
    width: 328px;
    padding: 17px;
    border-radius: 30.5px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: 2%;

    @media screen and (max-width: 450px) {
        width: 339px;
        padding: 17px;
    }
}

.view-login {
    position: absolute;
}

.content-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 99;

    p {
        color: #FFF;
        font-family: Raleway;
        font-size: 50px;
        width: 100%;
        font-style: normal;
        font-weight: 600;
        line-height: 75px;
        text-align: center;
        text-transform: uppercase;
    }

    @media screen and (max-width: 450px) {
        p {
            width: 250px;
            height: 36px;
            flex-shrink: 0;
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.container-name {
    @media screen and (max-width: 450px) {
        #last-name {
            margin-top: 35px;
        }
    }

    @media screen and (min-width: 450px) {
        width: 489px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            width: 232.5px;
            height: 75px;
        }

        input {
            width: 214.668px;
        }

        #last-name {
            input {
                margin-left: 10px;
            }
        }
    }
}